
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    color: #333;
    font-size: 12px;
    font-family: "Helvetica Neue", 宋体, Helvetica, Arial, sans-serif;
    //font-family: "Helvetica Neue", Helvetica, Arial, "SimSun", "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.inline-block {
    display: inline-block;
}

label {
    font-weight: normal;
}

.flex {
    display: flex;
    &.middle {
        align-items: center;
    }
}

.flex1 {
    flex: 1;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.vertical-middle {
    vertical-align: middle;
}

.full-height {
    height: 100%;
}

.vertical-line {
    border-left: 1px solid #c0c0c0;
    margin-right: 10px;
}

.padding-15 {
    padding: 0 15px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: rgba(200, 200, 200, 0.8);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
