@mixin svg-bg-common() {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: cover;
    vertical-align: bottom;
}

.search-btn-svg {
    @include svg-bg-common();
    background-image: url(../imgs/search.svg);
}

.add-svg {
    @include svg-bg-common();
    width: 20px;
    height: 20px;
    background-image: url(../imgs/plus.svg);
}

.minus-svg {
    @include svg-bg-common();
    background-image: url(../imgs/minus.svg);
}

.file-svg {
    @include svg-bg-common();
    width: 60px;
    height: 60px;
    background-image: url(../imgs/file.svg);
}

.minus-red-svg {
    @include svg-bg-common();
    background-image: url(../imgs/minus-red.svg);
}
