
.btn {
    color: #fff;
    cursor: pointer;
    padding: 0 13px;
    border: 1px solid #009a61;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #009a61;
    border-radius: 2px;
    font-size: 16px;
    height: 30px;
}

