@import '../variables.scss';

.app-function-page {
    color: #58666e;
    overflow: auto;

    .button {
        font-size: 12px;
    }

    .search-box {
        margin: 15px 30px;
    }

    .query-filter {
        .search-box {
            margin: 15px;
        }
    }

    .search-container {
        float: right;
        font-size: 12px;

        .search-form {
            display: inline-block;
            position: relative;
        }

        input {
            border-radius: 3px;
            padding: 5px 5px 5px 22px;
            width: 180px;
        }
        .search-button {
            position: absolute;
            left: 5px;
            top: 6px;
            background: transparent;
            border: none;
        }
    }

    .search-box-input {
        border-radius: 3px;
        background: darken(#F0F3F4, 10%);
        border-color: transparent;
        width: 150px;
        outline: none;
        &.big {
            width: 225px;
        }
    }

    .search-more {
        padding: 7px 10px;
    }

    .list-container {
        margin: 15px 30px;
    }

    .list-item {
        background: #fff;
        border: $border;
        border-radius: 6px;
        margin-top: 12px;
    }

    .item-contents {
        flex: 1;
        padding: 0 15px;
    }

    .content-row {
        padding: 10px 0;
        &:not(:last-child) {
            border-bottom: $border;
        }
    }

    .item-buttons {
        padding: 10px;
        border-left: $border;
        text-align: center;
    }

}

@import "./project.scss";
@import "./question-answer.scss";
@import "./bit-sweet.scss";
