@import '../variables.scss';

.question-answer {
    .category-content {
        border-bottom: $border;
        padding-bottom: 10px;
        display: flex;
    }

    .time {
        margin-left: 10px;
        color: gray;
    }

}
