
.app-function-page {
    .search-box {
        margin: 15px;
        button {
            margin-left: 10px;
        }
    }

    .search-container {
        float: right;
        font-size: 12px;
        input {
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 5px 10px;
            width: 180px;
        }
        button {
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 5px 10px;
        }
    }

    .search-box-input {
        outline:none;
    }
}
